<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>Arron Gibson: Professional Resume</title>

    <link rel="stylesheet" href="stylesheets/styles.css">
    <link rel="stylesheet" href="stylesheets/pygment_trac.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1>Arron Gibson</h1>
        <h2>Professional Resume</h2>
        <p class="view"> Musician, New Media Artist, Activist, Web Designer and Friend.</p>
        <ul>
          <li><a href="https://twitter.com/arrongibson">Follow Me on  <strong>Twitter</strong></a></li>
          <li><a href="https://arrongibson.com/">Fork Me on <strong>GitHub</strong></a></li>
          <li><a href="https://arrongibson.com">Check out my <strong>Blog</strong></a></li>
        </ul>
      </header>
      <section>